
.card-margin {
    margin-top: 3vh;
}

.card-margin-max {
    margin-top: 5vh;
}

.card-margin-small {
    margin-top: 1vh;
}

.nav-font {
    color: #48a1ee !important;
    font-size: 24px
}

.type-button {
    margin-top: 1vh;
    margin-right: 1vh;
}

.archive-text {
    text-align: center;
    color: #17a2b8;
}