
.card-margin-top {
    margin-top: 3vh;
}

.card-margin-top-max {
    margin-top: 5vh;
}

.card-margin-top-small {
    margin-top: 1vh;
}

.nav-font {
    color: #48a1ee !important;
    font-size: 24px
}

.type-button {
    margin-top: 1vh;
    margin-right: 1vh;
}

.archive-text {
    text-align: center;
    color: #17a2b8;
}

.footer-button {
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }