.card-margin-top {
    margin-top: 3vh;
}

.card-margin-top-max {
    margin-top: 5vh;
}

.card-margin-top-small {
    margin-top: 1vh;
}

.nav-font {
    color: #48a1ee !important;
    font-size: 24px
}

.type-button {
    margin-top: 1vh;
    margin-right: 1vh;
}

.archive-text {
    text-align: center;
    color: #17a2b8;
}

.footer-button {
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

/* .sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
    margin-left: -1px;
} */

/* .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
} */

/* @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
} */

/* .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
} */